<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dr. Venkata Ramana</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

    <!-- jQuery and Bootstrap JS -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <!-- Custom Styles -->
    <style>
        .center-align {
            text-align: center;
        }

        .image-container {
            margin-top: 5em;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Spring Boot App with Mongo Database Demo</h1>

        <div class="row">
            <div class="col-md-6">
                <form name="saveUser" action="/save" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" class="form-control" placeholder="First Name" name="firstName" />
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" class="form-control" placeholder="Last Name" name="lastName">
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" class="form-control" placeholder="Email" name="email">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>

            <div class="col-md-12">
                <h2>Saved Users</h2>
                <table id="usersTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Populate this section dynamically using JavaScript -->
                    </tbody>
                </table>
            </div>

            <div class="col-md-8 center-align">
                <div class="image-container">
                    <img th:src="@{/img/Image.jpg}" alt="logo" height="200">
                </div>

                <h4>Certified Kubernetes Administration Course (CKA): Instructor Dr. Venkata Ramana, Ph.D.
                    Certified Cloud Engineer</h4>
                <h4>Contact @ +91-8748822142, +91-9492468284</h4>
                <h5>Copyrights 2023 by <a href="https://scholar.google.com/citations?user=2uy3eJQAAAAJ&hl=en/">DevOps Technologies</a></h5>
            </div>
        </div>
    </div>

    <script>
        // Your existing JavaScript code
        $.ajax({
            url: "/api/users",
            success: function (response) {
                $.each(response, function (i, item) {
                    var row = $("<tr />");
                    $("#usersTable").append(row);

                    row.append($("<td>" + item.id + "</td>"));
                    row.append($("<td>" + item.firstName + "</td>"));
                    row.append($("<td>" + item.lastName + "</td>"));
                    row.append($("<td>" + item.email + "</td>"));
                });
            }
        });
    </script>
</body>

</html>
